name: Reusable composit workflow which prepares caching, docker build & login for later push 
description: build images and push them to registries
outputs:
  VARIANT_FHEM:
    description: "Combined string, with FHEM Version and latest svn commit id"
    value: ${{ steps.svnVars.outputs.VARIANT_FHEM }}
  FHEM_REVISION_LATEST:
    description: "The revision Number pulled from SVN"
    value: ${{ steps.svnVars.outputs.FHEM_REVISION_LATEST }}
inputs:
  DOCKER_HUB_USERNAME:
    description: "username on dockerhub to which the access token belongs"
    required: false
  DOCKER_HUB_ACCESS_TOKEN:
    description: "Personal access token from docker hub"
    required: false
  GHCR_ACCESS_TOKEN:
    description: "Personal access token from docker hub"
    required: false
  GHCR_OWMER: 
    description: "ownername on github packages to which the access token belongs"
    required: false
  DOCKERFILE:
    description: "name of the dockerfile, used for identify the cache"
    required: false
    default: "Dockerfile"
  CACHE_PATH:
    description: "path where to save cache"
    required: false

runs:
  using: "composite"
  steps:
    - name: Docker Setup QEMU
      uses: docker/setup-qemu-action@v1.2.0
      with:
        image: tonistiigi/binfmt:latest
        platforms: all

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Cache Docker layers
      if: {{ inputs.CACHE_PATH != null }}
      uses: actions/cache@v3
      with:
        path: ${{ inputs.CACHE_PATH }}
        key: ${{ runner.os }}-buildx-${{ inputs.DOCKERFILE }}-${{ github.sha }}
        restore-keys: |
            ${{ runner.os }}-buildx-${{ matrix.DOCKERFILE }}

    - name: Login to DockerHub
      if: {{ github.event_name != 'pull_request' && inputs.DOCKER_HUB_USERNAME != null && inputs.DOCKER_HUB_ACCESS_TOKEN != null }}
      uses: docker/login-action@v1 
      with:
        username: ${{ inputs.DOCKER_HUB_USERNAME }}
        password: ${{ inputss.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Login to GitHub Container Registry
      if: {{ github.event_name != 'pull_request' && inputs.GHCR_OWMER != null && inputs.GHCR_ACCESS_TOKEN != null }}
      uses: docker/login-action@v1 
      with:
        registry: ghcr.io
        username: ${{ inputs.GHCR_OWMER }}
        password: ${{ inputs.GHCR_ACCESS_TOKEN }}
